<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [(ngModel)]="username" type="text" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="userpassword" type="password" value=""></ion-input>
    </ion-item>
  </ion-list>
  <div>
    <button ion-button round block (click)="signIn()">Sign In</button>
  </div>
  <ion-card>
    <ion-item>
      <button ion-button clear item-start (click)="signUp()">Sign Up</button>
      <button ion-button clear item-end (click)="forgotPassword()"> Forgot Password?</button>
    </ion-item>
  </ion-card>
</ion-content>