<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Welcome To CLOCK-IN
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="qrClock">
        QR Clock-In
      </ion-segment-button>
      <ion-segment-button value="gpsClock" (click)="initMap()">
        GPS Clock-In
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="type">
    <ion-card *ngSwitchCase="'qrClock'">
      <ngx-qrcode [qrc-value]="qrImage"></ngx-qrcode>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Current Time: </ion-label>
            <ion-input type="text" readonly text-right value='{{clock}}'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Branch</ion-label>
            <ion-select [(ngModel)]="branch">
              <ion-option value="nes">KL</ion-option>
              <ion-option value="n64">SELANGOR</ion-option>
              <ion-option value="ps">JOHOR</ion-option>
              <ion-option value="genesis">P.PENANG</ion-option>
              <ion-option value="saturn">MELAKA</ion-option>
              <ion-option value="snes">SABAH</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Employee ID</ion-label>
            <ion-input type="text" text-right></ion-input>
          </ion-item>

        </ion-list>
        <button ion-button full (click)="qrClockIn()">CLOCK-IN</button>
      </ion-card-content>
    </ion-card>

    <ion-card *ngSwitchCase="'gpsClock'">
      <div #map id="map" class="googleMapDiv"></div>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Current Time: </ion-label>
            <ion-input type="text" readonly text-right value='{{clock}}'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Current Location: </ion-label>
            <ion-input type="text" readonly text-right value='{{location}}'></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Branch</ion-label>
            <ion-select [(ngModel)]="branch">
              <ion-option value="nes">KL</ion-option>
              <ion-option value="n64">SELANGOR</ion-option>
              <ion-option value="ps">JOHOR</ion-option>
              <ion-option value="genesis">P.PENANG</ion-option>
              <ion-option value="saturn">MELAKA</ion-option>
              <ion-option value="snes">SABAH</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Employee ID</ion-label>
            <ion-input type="text" text-right></ion-input>
          </ion-item>

        </ion-list>
        <button ion-button full (click)="gpsClockIn()">CLOCK-IN</button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>