<!--
  Generated template for the LeaveManagementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Leave Management</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-border>
    <ion-list-header>
      Malaysia No 1 Attendance Platform
    </ion-list-header>

    <ion-item (click)="goLeaveApplication()">
      <ion-icon name='add-circle' item-start></ion-icon>
      Leave Application
      <ion-note item-end>Apply New Leave</ion-note>
    </ion-item>
    <ion-item (click)="goLeaveRecord()">
      <ion-icon name='filing' item-start></ion-icon>
      Leave Record
      <ion-note item-end>View Your Leave Records</ion-note>
    </ion-item>
    <ion-item (click)="goLeaveBalance()">
      <ion-icon name="logo-buffer" item-start></ion-icon>
      Leave Balance
      <ion-note item-end>Check Your Leave Balance</ion-note>
    </ion-item>
    <ion-item (click)="goLeaveListing()">
      <ion-icon name='done-all' item-start></ion-icon>
      Leave Listing & Approval
      <ion-note item-end>Check Your Leave Status</ion-note>
    </ion-item>
  </ion-list>
</ion-content>