<!--
  Generated template for the ReportingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Reporting</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-border>
    <ion-list-header>
      Malaysia No 1 Attendance Platform
    </ion-list-header>

    <ion-item (click)="goAttendanceRecord()">
      <ion-icon name='filing' item-start></ion-icon>
      Attendance Record
      <ion-note item-end>View Attendance Records</ion-note>
    </ion-item>
    <ion-item (click)="goTodayAbsence()">
      <ion-icon name='remove-circle' item-start></ion-icon>
      Today Absence
      <ion-note item-end></ion-note>
    </ion-item>
    <ion-item (click)="goTodayQrClockIn()">
      <ion-icon name='qr-scanner' item-start></ion-icon>
      Today QR Clock In
      <ion-note item-end></ion-note>
    </ion-item>
    <ion-item (click)="goTodayGpsClockIn()">
      <ion-icon name="map" item-start></ion-icon>
      Today GPS Clock In
      <ion-note item-end></ion-note>
    </ion-item>
  </ion-list>
</ion-content>