<ion-menu [content]="content">
  <ion-content>
    <ion-list>
      <ion-list-header>
        <div *ngIf="isSignIn">
          Welcome, {{username}}!
        </div>
        <div *ngIf="!isSignIn">
          Navigator
        </div>
        
      </ion-list-header>
      <button ion-item menuClose2 (click)="openPage(homePage)">
        Home
      </button>
      <button ion-item menuClose2 (click)="openPage(leaveManagementPage)">
        Leave Management
      </button>
      <button ion-item menuClose2 (click)="openPage(reportingPage)">
        Reporting
      </button>
      <button ion-item menuClose2 (click)="openPage(settingPage)">
        Setting
      </button>
      <div *ngIf="!isSignIn">
        <button ion-item menuClose2 (click)="openPage(loginPage)">
          Sign In
        </button>
      </div>
      <div *ngIf="isSignIn">
        <button ion-item menuClose2 (click)="signOut()">
          Sign Out
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>