<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Setting</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-border>
    <ion-list-header>
      Malaysia No 1 Attendance Platform
    </ion-list-header>

    <ion-item (click)="goNotification()">
      <ion-icon name='notifications' item-start></ion-icon>
      Notification
      <ion-note item-end>On / Off</ion-note>
    </ion-item>
    <ion-item (click)="goUserDetails()">
      <ion-icon name="person" item-start></ion-icon>
      User Details
      <ion-note item-end>Your Profile</ion-note>
    </ion-item>
    <ion-item (click)="goUserGuides()">
      <ion-icon name='help-circle' item-start></ion-icon>
      User Guides
      <ion-note item-end>How To Use?</ion-note>
    </ion-item>
    <ion-item (click)="goSupportDetails()">
      <ion-icon name='call' item-start></ion-icon>
      Support Details
      <ion-note item-end>Contact Us</ion-note>
    </ion-item>
  </ion-list>
</ion-content>